<p>
  <strong>Name:</strong>
  <%= @equipment.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @equipment.description %>
</p>
<p>
  <strong>Durability:</strong>
  <%= @equipment.durability %>
</p>

<p>
  <strong>Character ID:</strong>
  <%= @equipment.character_id %>
</p>
