<head>
  <link rel="stylesheet" href="css/stylesheet.css">
</head>

<h1>Welcome to Character Builder !</h1>

<button><%= link_to 'My Characters', controller: 'characters' %></button>
<button><%= link_to 'Create new Character', new_character_path %></button>
<!-- <a class="" href="#"></a> -->
